<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.DashboardMapper">
    <select id="getWorkflowInstanceCount" resultType="java.lang.Integer">
        select count(1)
        from t_ds_process_instance instance
        join t_ds_process_definition define ON instance.process_definition_code = define.code
        where instance.is_sub_process=0
        <if test="state!=null and state>-1">
             and instance.state = #{state}
        </if>
        <if test="projectCode!=null and projectCode>-1">
            and define.project_code = #{projectCode}
        </if>
    </select>

    <select id="getTaskInstanceCount" resultType="java.lang.Integer">
        select count(1) from t_ds_task_instance instance
        left join t_ds_task_definition_log define on define.code=instance.task_code and define.version=instance.task_definition_version
        where define.project_code = #{projectCode}
        <if test="state!=null and state>-1">
            and instance.state = #{state}
        </if>
    </select>

    <select id="getTaskDefinitionCount" resultType="java.lang.Integer">
        select count(1) from t_ds_task_definition where project_code = #{projectCode}
    </select>

    <select id="getWorkflowDefinitionCount" resultType="java.lang.Integer">
        select count(1) from t_ds_process_definition where 1=1
        <if test="releaseState != null and releaseState>-1">
            and release_state = #{releaseState}
        </if>
        <if test="projectCode != null and projectCode>-1">
            and project_code = #{projectCode}
        </if>
    </select>

    <select id="processFailTop5" resultType="java.util.Map">
        SELECT t.process_definition_code, d.name, count(1) as fail, max(t.restart_time) restart_time
        from t_ds_process_instance t
        join t_ds_process_definition d on d.code=t.process_definition_code
        where d.project_code = #{projectCode} and t.is_sub_process = 0 and t.state=6 group by t.process_definition_code, d.name order by fail desc, restart_time desc LIMIT 5
    </select>

    <select id="taskFailTop5" resultType="java.util.Map">
        select t.task_code, d.name, count(1) as fail, max(t.start_time) start_time
        from t_ds_task_instance t
        join t_ds_task_definition d on d.code = t.task_code
        left join t_ds_task_definition_log define on define.code=t.task_code and define.version=t.task_definition_version
        where define.project_code = #{projectCode} and t.state = 6 group by t.task_code, d.name order by fail desc, start_time desc limit 5
    </select>

</mapper>
